<h1>Ingredients#index</h1>
<p>Find me in app/views/ingredients/index.html.erb</p>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ingredients.each do |ingredient| %>
      <tr>
        <td><%= ingredient.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>
